

      <div class="container">
          <div class="row border"  >


             <div class=" col-md-3"  *ngFor="let item of items ">  
                <img src="assets/item.svg" width="150px" height="150px" rounded/>
                <div> <b>item name: </b> {{item.name}}<br>
                        <b>Price</b> {{item.price}}<br>
                        <button type="button" class="btn btn-primary" (click)="addtocart(item.id)"> add to cart </button>
                </div>
             </div>

            </div>
        </div>

