


<div class="container border" *ngIf="loggedin; else elseBlock">
  
  
  you are logged in

</div>
<ng-template #elseBlock><div class="col-md-4 offset-md-4">
  <form  #myform="ngForm" (ngSubmit)="login(myform)" >
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required #email name="email" ngModel>
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required #password name="password" ngModel>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="myform.form.invalid" >Submit</button>
  </form>
</div></ng-template>