<mat-dialog-content>
    <div class="container">
        <div class="row " *ngFor="let item of itemofcart " >
            <div class="border" style="margin-bottom:20px">
                <img src="assets/item.svg" width="200px" height="200px" rounded/><br>
                <b>item name: </b> {{item.name}}<br>
                <b>Price</b> {{item.price}}<br>
            </div>
        </div>
        <div class="row form-group"  >
            <b>total price is {{price}}</b><br>
        </div>
        <div class="row form-group"  >
            <button type="button" class="btn btn-primary" (click)="checkout()"> Checkout </button>
        </div>
    </div>
</mat-dialog-content>