

<div class="container">
    <div class="row "  >


        <p>
           <b><h1>{{blog.title}}</h1></b>
        </p>
        <p>
            {{blog.text}}
            {{blog.text}}
            {{blog.text}}
        </p>
          
      

      </div>
  </div>

