
  <div class="container">
    <div class="row "  >


       <div class=" col-md-3"  *ngFor="let blog of blogs ">  
          <img src="assets/item.svg" width="150px" height="150px" rounded/>
          <div> <b> {{blog.title}}</b><br>
                  {{blog.subtext}}<br>
                  <a  [routerLink]="['/blog', blog.id]"> view detail</a>
          </div>
       </div>

      </div>
  </div>