/* You can add global styles to this file, and also import other style files */
.bg-white{
    /* background-color: blue !important;
    color:black; */
    border-bottom:solid 1px grey;
}
.navbar-dark .navbar-nav .active>.nav-link,.navbar-dark .navbar-brand, 
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav>.nav-link{
    color:black;
}
.navbar-dark .navbar-nav .active>.nav-link:hover,.navbar-dark .navbar-brand:hover, 
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav>.nav-link:hover{
    color:#ef7c00;
}
.starter-template{
    margin-top:7%;
    /* border:solid 1px black; */
}
/* .navbar-dark .navbar-nav>.nav-link{
    color:yellow;
} */
/* .navbar-dark .navbar-nav .active>.nav-link,  */