<p>


</p>

<div class="container">

    <div class="row border " >

       
            <div class="col-md-9 offset-md-3 "> <b> email:</b> {{  email}}
               </div>
            <div class="col-md-9 offset-md-3 ">
                    <b> name:</b>  {{ name}}            
            </div>
    
     

  
</div>
</div>
